{% extends "FDTeamBundle:Team:index.html.twig" %}

{% block response %}
    <div class="row response">
        <div class="col-xs-11 col-xs-offset-1">
            Les équipes manquantes ont été récupérées !
        </div>
    </div>
{% endblock %}