{% extends "::container.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Gestion des équipes</h1>
            <div class="row">
                <div class="col-xs-5 col-xs-offset-1">
                    <label>Récupérer les dernières équipes existantes</label>
                    <div><a href="{{ path('fd_team_get') }}" class="btn btn-primary active">Récupérer</a></div>
                </div>
            </div>
            {% block response %}
            {% endblock %}
        </div>
    </div>
{% endblock %}