{% extends "FDResultBundle:Result:index.html.twig" %}

{% block response %}
    <div class="row response">
        <div class="col-xs-11 col-xs-offset-1">
            Les résultats d'hier ont bien été récupérés !
        </div>
    </div>
{% endblock %}