{% extends "FDResultBundle:Result:index.html.twig" %}

{% block response %}
    <div class="row response">
        <div class="col-xs-11 col-xs-offset-1">
            Les résultats datant de plus d'un an ont bien été supprimés !
        </div>
    </div>
{% endblock %}