{% extends "FDOfferBundle:Offer:index.html.twig" %}

{% block response %}
    <div class="row response">
        <div class="col-xs-11 col-xs-offset-1">
            Les offres de la FDJ de type 1/N/2 ont bien été récupérées !
        </div>
    </div>
{% endblock %}