{% extends "::container.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Gestion des offres</h1>
            <div class="row">
                <div class="col-xs-5 col-xs-offset-1">
                    <label>Récupérer les offres du jour de la française des jeux</label>
                    <div><button class="btn btn-primary active">Récupérer</button></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}